table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #353434;
    color: #f60e0e;
  }
  
  tr:nth-child(even) {
    background-color: #757373;
  }
  